.bg { background-color: $gray-100; }
.bg-white { background-color: #fff; }
.bg-orange { background-color: $orange; }
.bg-green { background-color: $green; }
.bg-blue { background-color: $blue; }
.bg-red { background-color: $red; }

.bg-gradient-blue {
  @include diagonalGradient(rgba($blue, 0.9), rgba($dark, 0.4));

  transition: 0.5s;
}

.bg-gradient-green {
  @include diagonalGradient(rgba($green, 0.9), rgba($dark, 0.4));

  transition: 0.5s;
}

.bg-gradient-orange {
  @include diagonalGradient(rgba($orange, 0.9), rgba($dark, 0.4));

  transition: 0.5s;
}

.bg-gradient-red {
  @include diagonalGradient(rgba($red, 0.9), rgba($dark, 0.4));

  transition: 0.5s;
}

.bg-gradient-pink {
  @include diagonalGradient(rgba($pink, 0.9), rgba($dark, 0.4));

  transition: 0.5s;
}

.overlay-gradient {
  position: relative;

  &::before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 60%;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s;

    @include diagonalGradient($blue, aqua);
  }
  &:hover::before { opacity: 90%; }
}
