a {
  &:hover { text-decoration: none; }
}

.img-wrap {
  display: block;
  position: relative;
  text-align: center;
  img { max-width: 100%; }
}

.icon-wrap {
  display: inline-block;
  text-align: center;
}

.content-body {
  flex: 1 1 auto;
  padding: 2rem;
}

.readmore-wrap .text { display: block; }

.readmore-wrap .text-short {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.readmore-wrap .text-short::after {
  background: linear-gradient(to bottom, rgb(254 254 254 / 20%), $light);
  bottom: 0;
  content: "";
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
}

.table-responsive {
  table { min-width: 800px; }
}

.alert {
  i { margin-right: 7px; }
}

.card-header {
  .form-check {
    align-items: center;
    display: flex;
    .form-check-input { margin-top: 0; }
  }
  .form-check.collapsed { opacity: 50%; }
}

/* ============= Sidebar modal ============= */
.modal .modal-dialog-aside {
  height: 100%;
  margin: 0;
  max-width: 80%;
  transform: translate(0);
  transition: transform 0.2s;
  width: 420px;
}

.modal .modal-dialog-aside .modal-content {
  border: 0;
  border-radius: 0;
  height: inherit;
}
.modal .modal-dialog-aside .modal-content .modal-body { overflow-y: auto; }

.modal.fixed-left .modal-dialog-aside {
  margin-right: auto;
  transform: translateX(-100%);
}

.modal.fixed-right .modal-dialog-aside {
  margin-left: auto;
  transform: translateX(100%);
}

.modal.show .modal-dialog-aside {
  transform: translateX(0);
  transition: transform 0.2s;
}

/* =================  DEFINED VARIABLES =================== */
.icon-xs,
.icon-sm,
.icon-md,
.icon-lg {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.icon-xs {
  font-size: 16px;
  height: 32px;
  line-height: 32px !important;
  width: 32px;
}

.icon-sm {
  font-size: 20px;
  height: 48px;
  line-height: 48px !important;
  width: 48px;
}

.icon-md {
  font-size: 28px;
  height: 60px;
  line-height: 60px !important;
  width: 60px;
}

.icon-lg {
  font-size: 42px;
  height: 96px;
  line-height: 96px !important;
  width: 96px;
}

.img-xs,
.img-sm,
.img-md,
.img-lg {
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: cover;
}

.img-xs {
  height: 48px;
  width: 48px;
}

.img-sm {
  height: 80px;
  width: 80px;
}

.img-md {
  height: 148px;
  width: 148px;
}

.img-lg {
  height: 250px;
  width: 250px;
}

.center-xy {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-x {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.vh-100 { height: 100vh; }

.overflow-h { overflow: hidden; }
.flip-h { transform: scaleX(-1); }

.opacity { opacity: 50%; }

[class*="hover-"] { transition: 0.5s; }

.hover-bg:hover {
  @include diagonalGradient($primary, $primary);

  transition: 0.5s;
}

.hover-zoom:hover {
  transform: scaleX(1);
  transition: 0.5s;
}

/* ============== spacing ============== */
.padding-y {
  padding-bottom: 50px;
  padding-top: 50px;
}
.padding-top { padding-top: 50px; }
.padding-bottom { padding-bottom: 50px; }

.padding-y-lg {
  padding-bottom: 80px;
  padding-top: 80px;
}
.padding-top-lg { padding-top: 80px; }
.padding-bottom-lg { padding-bottom: 80px; }

.padding-y-sm {
  padding-bottom: 20px;
  padding-top: 20px;
}
.padding-top-sm { padding-top: 20px; }
.padding-bottom-sm { padding-bottom: 20px; }

.relative { position: relative; }
.absolute { position: absolute; }

var { font-style: normal; }
figure { margin-bottom: 0; }

.form-noborder {
  input,
  select,
  .btn { border: 0; }
  select.form-control-lg:not([size]):not([multiple]) { height: 2.875rem; }
}

/* all clearfix */
article::after,
.form-group::after {
  clear: both;
  content: "";
  display: block;
}

.dot { font-style: normal; }

.dot::after {
  color: $gray-400;
  content: "\25CF";
  display: inline-block;
  font-size: 11px;
}

/* -------------------- small grid gutter --------------------- */
.row-sm {
  display: flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.row-sm > [class^="col"] {
  padding-left: 5px;
  padding-right: 5px;
}
