@charset "UTF-8";

/////////////////// Linear Gradient
// usage: .grad{ @include linearGradient(#cccccc, #666666); }
@mixin linearGradient($top, $bottom) { /* stylelint-disable-line scss/at-mixin-pattern */
  background: $top;
  background: linear-gradient(to bottom, $top 0%, $bottom 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#ffffff", endColorstr="#000000", GradientType=0);
}

//////////////////// diagonal gradient
// usage: .grad-diagonal{ @include diagonalGradient(#cccccc, #666666); }
@mixin diagonalGradient($top, $bottom) { /* stylelint-disable-line scss/at-mixin-pattern */
  background: $bottom; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom right, $top, $bottom); /* Standard syntax */
}

/////////////////// Box shadow
// usage: .classname{ @include shadow; }
@mixin shadow {
  box-shadow: 0 4px 15px rgb(#333 0.4);
}

@mixin shadow-light {
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 10%);
}

/////////////////// Clearfix
// usage: .myclear{ @include clearfix; }
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
