.form-inline input[type="number"] {
  max-width: 100px;
}

.input-spinner {
  display: inline-flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  width: 125px;

  input.form-control {
    border-color: $border-color;
    flex-basis: 46px;
    flex-grow: 0;
    font-weight: bold;
    max-width: 46px;
    text-align: center;
  }

  .btn {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    width: 42px;
  }
}

.checkbox-btn {
  position: relative;

  input {
    opacity: 0%;
    position: absolute;
    z-index: -1;
  }

  input:checked ~ .btn {
    background-color: $primary;
    border-color: $primary;
    color: #fff;
  }
}

.btn-check {
  border: 1px solid $gray-300;
  display: inline-block;
  padding: 7px 15px;
  position: relative;
  transition: 0s !important;

  input {
    opacity: 0%;
    position: absolute;
    z-index: -1;
  }

  &.active {
    background-color: #fff3e8;
    border-color: $primary;
    box-shadow: inset 0 0 10px #ccc;
  }

  &:hover:not(.active) {
    background-color: #fff6ef;
    border-color: #bbb;
  }
}

.js-check {
  border-radius: 4px;
  position: relative;

  .title {
    margin-left: 22px;
  }

  input {
    left: 18px;
    position: absolute;
    top: 21px;
  }

  &.active {
    background-color: #fff3e8;
    border-color: $primary;
    box-shadow: 0 0 7px rgba($primary, 0.2); /* stylelint-disable-line color-function-notation */
  }

  &:hover:not(.active) {
    background-color: #fff6ef;
    border-color: #ccc;
  }
}

.js-check.box {
  border-width: 1px;
  width: 100%;
}

.card-header {
  .form-check {
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

form {
  button[type="submit"] {
    > span:not(.submitting) {
      display: inline;
    }

    > span.submitting {
      display: none;
    }
  }

  &.submitting {
    button[type="submit"] {
      > span:not(.submitting) {
        display: none;
      }

      > span.submitting {
        display: inline;
      }
    }
  }
}
