.itemside {
  display: flex;
  position: relative;
  width: 100%;

  .aside {
    flex-shrink: 0;
    position: relative;
  }

  .info {
    padding-left: 15px;
    padding-right: 7px;
  }

  p { margin-bottom: 0; }

  .title {
    color: $dark;
    display: block;
    margin-bottom: 5px;
  }
  a.title:hover { color: $primary; }
}

a.itemside { color: initial; }

.itemlist {
  border-bottom: 1px solid #eee;
  padding: 20px;
}

.item-videoblog {
  background: #fff;
  border: 1px solid #efefef;
  box-shadow: 0 1px 4px 0 rgb(146 146 146 / 20%);

  aside img {
    height: 130px;
    object-fit: cover;
    width: 170px;
  }
  p { margin-top: 10px; }
  &:hover { border-color: $warning; }
}
