.list-inline { margin-bottom: 0; }
.list-inline-item { vertical-align: middle; }

/* --------- description list -------- */

dl[class="row"] {
  margin-bottom: 0;
}

[class*="dlist-"] {
  margin-bottom: 5px;
  dd { margin-bottom: 0; }
}

.dlist-inline {
  dt,
  dd { display: inline-block; }
}

.dlist-align {
  display: flex;

  dt {
    font-weight: normal;
    width: 150px;
    word-wrap: break-word;
  }
  dd { flex-grow: 1; }
}

/* -------------------- list.row--------------------- */
ul.row,
ul.row-sm {
  list-style: none;
  padding: 0;
}

/* ================= lists ================= */
[class*="list-"] li::after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.list-icon {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 7px;
    padding-left: 30px;
    position: relative;
  }

  .icon {
    color: $secondary;
    left: 0;
    margin-right: 15px;
    position: absolute;
    text-align: center;
    top: 3px;
    vertical-align: middle;
    width: 22px;
  }
  span { vertical-align: middle; }
}

.list-bullet,
.list-dots {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
  }

  li::before {
    background: $gray-400;
    border-radius: 100%;
    content: " ";
    height: 7px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 7px;
  }
}

.list-check {
  list-style: none;
  padding-left: 0;

  > li {
    margin-bottom: 5px;
    padding-left: 28px;
    position: relative;
  }

  > li::before {
    color: $success;
    content: "\f00c";
    font-family: fontawesome; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    font-size: 20px;
    font-weight: 900;
    left: 0;
    position: absolute;
    top: -4px;
  }
}

.list-normal {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 7px;
    padding-left: 1em;
  }

  li::before {
    color: $primary;
    content: "\2022";
    display: inline-block;
    margin-left: -1em;
    width: 1em;
  }
}

.list-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li { margin-bottom: 5px; }

  a {
    color: $body-color;
    &:hover { color: $primary; }
  }
}

.cols-two {
  column-count: 2;
}

.cols-three {
  column-count: 3;
}

.cols-four {
  column-count: 4;
}
