.price { color: $dark; }

.price-old {
  color: $text-muted;
  font-weight: 600;
  margin-left: 3px;
}

/* GRID STYLE PRODUCT ITEM */
.card-product-grid {
  margin-bottom: 20px;

  .img-wrap {
    height: 240px;

    a {
      display: block;
      height: 100%;
    }
  }

  .info-wrap {
    overflow: hidden;
    padding: $spacer;
  }

  .bottom-wrap {
    border-top: 1px solid $border-color;
    padding: 18px;
  }

  .info {
    height: 135px;
    overflow: hidden;
  }

  .title { margin-bottom: 7px; }
  .info-price { margin-bottom: 0; }

  .price {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .info-rating { margin-bottom: 10px; }

  .order {
    display: inline-flex;
    width: auto;
    .form-control { max-width: 92px; }
    .btn { font-size: 0.88rem; }
  }

  &:hover {
    box-shadow: 0 3px 10px rgb(153 153 153 / 25%);
    transition: 0.3s;
  }
}

.item-slide .card-product-grid { margin-bottom: 10px; }

/* LARGE LIST STYLE PRODUCT ITEM */
.card-product-list {
  margin-bottom: 20px;
  .img-wrap { height: 220px; }
  .info-main { padding: 1rem; }

  .title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .order {
    display: inline-flex;
    width: auto;
    .form-control { max-width: 92px; }
    .btn { font-size: 0.88rem; }
  }
}

.card-sm {
  .img-wrap { height: 160px; }
}

.card-lg {
  .img-wrap { height: 280px; }
}

.card-banner {
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  display: block;
  overflow: hidden;
  position: relative;

  .card-body {
    background-size: cover;
    height: 100%;
    position: relative;
    z-index: 10;
  }

  .caption {
    background-color: rgb(0 0 0 / 65%);
    color: #fff;
    height: 100%;
    padding: 2.25rem;
    width: 100%;
    z-index: 10;
    p { max-width: 300px; }
  }

  .caption.bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .caption.top {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .caption.left {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
  }

  .text-bottom {
    background: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 80%) 100%);
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 7px 20px;
    padding-top: 30px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .img-bg {
    bottom: 0;
    max-width: 100%;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
  }
}

.card-img { object-fit: cover; }

/* BASE STYLE FOR PRODUCT ITEM */
[class*="card-product"] {
  .labels-card {
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: initial;
    top: 0;
    width: 100%;
    z-index: 10;

    a {
      color: #fff;
      text-shadow: 0 0 7px rgb(0 0 0 / 70%);
      &:hover { color: $primary; }
    }
  }

  a.title,
  .title,
  .title a { /* stylelint-disable-line no-descending-specificity */
    color: $dark;
    display: block;
    font-size: $font-size-base;
    font-weight: normal;
    &:hover { color: $primary; }
  }

  p { margin-bottom: 0; } /* stylelint-disable-line no-descending-specificity */

  .img-wrap {
    overflow: hidden;
    position: relative;

    img {
      display: inline-block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

.offer {
  background-color: #ffe0e8;
  color: $danger;
  padding: 2px 6px;
}

/* IF CARD IS LINKED */
a[class*="card"] {
  color: initial;

  &:hover {
    .title { color: $primary; }
  }
}
