.heading-category{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:20px;
}

.breadcrumb{ font-weight:400;
	a{ color:$text-muted; 
		&:hover{ color:$primary}
	}
}

.filter{
	display:inline-flex;
	select{ margin-right:10px;}
}
