.section-intro {
  border-top: 1px solid #dbe0e4;
  height: 580px;
  overflow: hidden;
  position: relative;

  .img-intro {
    bottom: 0;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .intro-caption {
    background-color: rgb(255 255 255 / 60%);
    bottom: 0;
    padding: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 790px;
  }

  .intro-text {
    margin-top: 60px;
    max-width: 420px;
    position: relative;
    z-index: 10;
  }

  .title-intro {
    font-size: 48px;
    font-weight: 700;
  }
}

.section-features {
  text-align: center;

  .text-feature {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.item-cat-home {
  color: $dark;
  display: block;
  text-align: center;

  .img-wrap {
    background-color: #fde8c7;
    border-radius: 90%;
    display: inline-block;
    height: 90px;
    line-height: 80px;
    overflow: hidden;
    width: 90px;

    img {
      max-height: 100%;
      max-width: 100%;
      mix-blend-mode: multiply;
      object-fit: contain;
    }
  }

  .text-wrap { margin-top: 5px; }
}

.section-offer {
  padding: 1rem 0;

  .btn {
    background-color: rgb(255 255 255 / 20%);
    border-radius: 20px;
    color: white;
    padding: 5px 15px;
    &:hover { background-color: rgb(51 51 51 / 10%); }
  }
}

.js-slider-category {
  .owl-prev,
  .owl-next { top: 42%; }
}

.section-info {
  .info-text-aside {
    max-width: 630px;
    padding: 30px;
  }
}

.item-review-home {
  margin-bottom: 7px;
  margin-left: 1px;
  margin-right: 1px;
  min-height: 265px;
  p { margin-bottom: 0; }
}

.item-video {
  min-height: 265px;

  .img-wrap {
    height: 230px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .title {
    background-color: $gray-200;
    color: $gray-500;
    padding: 7px;
    text-align: center;
  }
}

.section-join {
  background-attachment: fixed;
  /* stylelint-disable-next-line color-function-notation */
  background-image: linear-gradient(rgba($dark, 0.8), rgba($dark, 0.9)), url("../images/bg/bg-join.jpg");
  background-position: 0 0, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-size: cover, cover;
}

.heading-block-people {
  background-color: $dark;
  height: 100%;
  padding: 1.5rem;
}

.people-grid {
  display: grid;
  gap: 5px 5px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 150px 150px;

  > div {
    background-color: #ccc;
    overflow: hidden;
  }
}
