/* ================== PAGE DETAILS ==================  */
.gallery-wrap {
  margin-bottom: 1.5rem;

  .lightSlider { /* stylelint-disable-line selector-class-pattern */
    background-color: $gray-200;

    // height:450px;
    img {
      height: 620px;
      object-fit: cover;
      width: 100%;
    }
  }

  .thumbs-wrap {
    margin-bottom: 20px;
    overflow-x: auto;
    white-space: nowrap;

    .item-thumb {
      border: 1px solid #ddd;
      display: inline-block;
      height: 80px;
      margin: 3px;
      overflow: hidden;
      width: 80px;
    }

    img {
      cursor: zoom-in;
      height: 100%;
      object-fit: cover;
      width: 100%;

      &:hover {
        cursor: zoom-in;
        filter: brightness(1.1);
      }
    }
  }
}

.item-option-select {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 15px;
  .btn { min-width: 80px; }
}

table.table-season {
  margin-bottom: 1rem;
  width: 100%;

  td {
    font-size: 10px;
    font-weight: 600;
    padding-bottom: 0.25rem;
    text-align: center;
  }

  tr.bordered {
    td {
      border: 1px solid #bbb;
      padding-bottom: 0;
    }
    td.green { background-color: $green; }
    td.yellow { background-color: $yellow; }
  }
}
